html
  head
    title= title
  body
    h1= h1
    div
        form(id='push1',action='/push',method='post')
            input(name='field1',type='text',placeholder='field1')
            input(name='field2',type='text',placeholder='field2')
